a.logo {
	background-size: cover;
	display: inline-block;
	width: 200px;
	height: 50px;
	position: relative
}

nav {
	float: right
}

nav ul li {
	float: left;
	margin: 10px;
	list-style: none
}

nav ul li a {
	display: block;
	padding: 5px 15px;
	color: #666;
	transition: all .6s
}

nav ul li a:hover {
	color: #49FAB9
}

.login {
	padding-top: 100px;
}

.formBody {
	font-size: 16px;
	font-weight: bold;
	text-align: right;
	width: 100px;
}

.lc-block {
	margin-top: -500px !important;
}

.verifylg {
	position: relative;
	top: -32px;
	left: 120px;
}

.verifyCodelg {
	position: relative;
	top: -18px;
	left: 130px;
}

.registBtn {
	background: url(../../images/regist2.png);
	display: inline-block;
	background-position: 0px -46px;
	height: 24px;
	width: 73px;
	margin-left: 250px;
}
.inputlg {
		width: 100px !important;
	}

@media ( max-width :400px) {
	.lc-block:not (.lcb-alt ){
		padding: 35px 10px
	}
	.inputlg {
		width: 100px !important;
	}
}

@media ( max-width :700px) {
	.login-header nav {
		display: none
	}
	.container {
		text-align: center
	}
	.inputlg {
		width: 100px !important;
	}
	.verifylg {
		left: 50px;
	}
	.verifyCodelg {
		left: 62px;
	}
}

@media ( mix-width :700px) {
	.loginBtn {
		margin-top: -25px !important;
	}
}